@import url(reset.css);

html {
  font-size: 62.5%;
}

body {
  max-width: 900px;
  margin: 0 auto;
  max-height: 500px;
  padding: 20rem 2rem;
}

.container {
  background: url(~/hzdf-maps.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 2rem;
}

.modal {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px dotted gray;
  width: 55%;
  margin: 0 auto;
}

header {
  font-size: 1.5rem;
  padding: 2rem 0;
}

header p {
  margin: 0 auto;
  font-size: 1.8rem;
  padding: 2rem;
}

h1 {
  font-size: 5rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid gray;
}

h4 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.form {
  padding: 3rem;
  margin: 0 auto;
  text-align: center;
}

.form input {
  font-size: 2.5rem;
  width: 100%;
  border: 1px solid darkgray;
  margin: 1rem 0;
  padding: 1rem 0;
  text-indent: 0.5rem;
}

.form input::placeholder {
  color: lightgray;
}

.form button {
  width: 100%;
  background-color: steelblue;
  padding: 2rem 0;
  border: 1px solid darkgray;
  box-sizing: content-box;
}

#map {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px dotted gray;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .modal {
    margin: 0;
    width: 100%;
  }
  .form input {
    font-size: 1.2rem;
  }
}
